h1{
	color:Violet;
	font-family:Verdana;
	font-size:45px;
}

h2 {
	font-family:Cursive;
	font-size:40px; 
}
p.blocktext {
	font-family:Cursive;
	font-size:25px;
	width:900px;
}
.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:900px;
}
img {
	width:80%;
}