body {
	background-color:#FFCCCC;
}
h1 {
	font-family:Verdana;
	font-size:60px;
}

h2 {
	font-family:Cursive;
	font-size:40px; 
	color:#660033;
}
p.blocktext {
	font-family:Cursive;
	font-size:25px;
	width:900px;
}
.center {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.profile-pic {
	width:60%;
}
#main_content {
	width:900px;
	height:auto;
}
.button {
	border-radius: 6px;
	border:2px solid #B28099;
	background-color:#FF99FF;
	height:50px;
	width:120px;
	margin:auto;
	text-align:center;
	text-decoration:none;
}
h3 {
	font-family:cursive;
	font-size:40px;

}
ol {
	font-family:cursive;
	font-size:30px;
}

 